<template name="listOrgas">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{_ "organizations"}} {{#if city}} : {{city.name}}{{/if}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear icon ion-android-notifications brand-base-text-color pull-right" data-ion-menu-toggle="right">
     {{#if notificationsCount}}<div class="new-notification-bubble">{{notificationsCount}}</div>{{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="scroll-bg"}}
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input id="search" type="text" placeholder="{{_ "Search..."}}" value="{{searchOrgas}}">
        </label>
      <!--  <div class="button-bar bar-positive">
          <button class="button triEvents {{#if equals "Current" sortEvents}}button-dark{{/if}}" value="Current"><i class="icon ion-android-alarm-clock"></i> {{countEventsCurrent}} {{_ "Current"}}</button>
          <button class="button triEvents {{#if equals "Upcoming" sortEvents}}button-dark{{/if}}" value="Upcoming"><i class="icon ion-android-calendar"></i> {{countEventsUpcoming}} {{_ "Upcoming"}}</button>
          <button class="button triEvents {{#if equals "History" sortEvents}}button-dark{{/if}}" value="History"><i class="icon ion-android-archive"></i> {{countEventsHistory}} {{_ "History"}}</button>
        </div>-->
      </div>

      <div class="list list-inset">
        <div class="item item-divider">
          <i class="ion-android-calendar"></i> {{_ "organizations"}} <span class="badge badge-dark">{{countOrgas}}</span>
        </div>
        {{#if Template.subscriptionsReady}}
          {{#transition in="zoomIn" out="bounceOut"}}
            {{#each orgas}}
              <a class="item {{#if profilThumbImageUrl}}item-thumbnail-left{{/if}} animated in" href="{{pathFor 'newsList' _id=this._id._str scope="organizations"}}">
                {{#if profilThumbImageUrl}}
                  <img src="{{urlImageCommunecter}}{{profilThumbImageUrl}}">
                {{/if}}
                <h2>{{name}}</h2>
                <span class="badge {{#if isStart}}badge-balanced{{else}}badge-dark{{/if}}"><i class="icon ion-person"></i> {{countMembers}}</span>
                <!-- <p>
                  {{#if isStart}}
                  <i class="icon ion-android-alarm-clock"></i> {{_ "start"}} : {{livestamp startDate}} <br>
                  <i class="icon ion-android-alarm-clock"></i> {{_ "end"}} : {{livestamp endDate}} <br>
                  <i class="icon ion-android-time"></i> {{_ "duration"}} : {{diffInText startDate endDate}}<br>
                  {{else}}
                  <i class="icon ion-android-alarm-clock"></i> {{_ "start"}} : {{livestamp startDate}} <br>
                  <i class="icon ion-android-time"></i> {{_ "duration"}} : {{diffInText startDate endDate}}<br>
                  {{/if}}
                </p> -->
                <p><a class="positive" href="{{pathFor 'mapWithEvent' _id=_id._str}}"><i class="icon ion-ios-location"></i> {{_ "distance"}} : {{distance geo}} </a></p>
              </a>
            {{/each}}
          {{/transition}}
        {{/if}}
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="orgasAdd">
  {{#ionModal customTemplate=true}}
  <div class="bar bar-header bar-dark">
    <button data-dismiss="modal" type="button" class="button button-clear">{{_ "Reset"}}</button>
    <h2 class="title">{{_ "Create an organization"}}</h2>
  </div>
<div class="content has-header overflow-scroll">
  <div class="list">
    <div class="item item-divider">
      {{_ "Create an organization"}}
    </div>
    {{#autoForm id="addOrga" schema=SchemasOrgasRest type="method" meteormethod="insertOrga" template="ionic" class="padding"}}
    {{> orgaFields}}
    <div class="item">
      <div class="button-bar">
        <button type="submit" class="button button-dark">{{_ "create"}}</button>
      </div>
    </div>
    {{/autoForm}}
  </div>
</div>
  {{/ionModal}}
</template>

<template name="orgasEdit">
  {{#contentFor "headerButtonLeft"}}
  {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
  <h1 class="title">{{_ "events"}}</h1>
  {{/contentFor}}

  {{#ionView}}
  {{#ionContent}}
  <div class="list">
    <div class="item item-divider">
      {{_ "Edit a event"}}
    </div>
    {{#autoForm id="editEvent" schema=SchemasEventsRest type="method-update" meteormethod="updateEvent" doc=event template="ionic" class="padding"}}
    {{> eventsFields}}
    <div class="item">
      <div class="button-bar">
        <button type="submit" class="button button-dark">{{_ "edit"}}</button>
      </div>
    </div>
    {{/autoForm}}
  </div>
  {{/ionContent}}
  {{/ionView}}
</template>

<template name="orgasFields">
  {{> afQuickField name='name'}}
  {{> afQuickField name='description' rows=8}}
  {{> afQuickField name='type'}}
  {{> afQuickField name='allDay'}}
  {{> afQuickField name='startDate' type="datetime-local"}}
  {{> afQuickField name='endDate' type="datetime-local"}}
  {{> afQuickField name='country' autocomplete="off" value=country }}
  {{#if currentFieldValue "country"}}
  {{> afQuickField name='postalCode' value=postalCode autocomplete="off"}}
  {{#if currentFieldValue "postalCode"}}
  {{#if optionsInsee}}
  {{> afQuickField name='city' options=optionsInsee value=city}}
  {{> afQuickField name='cityName' type="hidden" value=cityName}}
  {{else}}
  <div class="item item-text-wrap assertive"><i class="icon ion-android-alert"></i> {{_ "Error not postal code match"}}</div>
  {{/if}}
  {{/if}}
  {{> afQuickField name='streetAddress' autocomplete="off"}}
  {{#if latlng}}
  {{> map}}
  {{/if}}
  {{> afQuickField name='geoPosLatitude' type="hidden" value=latitude}}
  {{> afQuickField name='geoPosLongitude' type="hidden" value=longitude}}
  {{/if}}
</template>


<template name="mapOrga">
  <div id="map" class="map"></div>
</template>
