<template name="newsList">
  {{#contentFor "headerTitle"}}
  <h1 class="title">{{_ "news"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
  {{>ionNavBackButton href="/"}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
  <button class="button button-clear" data-ion-modal="_qrcode">{{> ionIcon icon="ios-barcode"}}</button>
  {{/contentFor}}

  {{#ionView}}
  {{#ionContent class="scroll-bg"}}

  {{> Template.dynamic template="listCardevents" data=scope}}

  <div class="list padding">
    <div class="item item-divider homestead">
      <i class="ion ion-social-rss"></i>  {{_ "news"}} {{scope.name}} <span class="badge badge-dark">{{countNews}}</span>
    </div>
    {{#if Template.subscriptionsReady}}
    {{#transition in="zoomIn" out="bounceOut"}}
    {{#each scope.news}}
    <a href="{{pathFor 'newsDetail' _id=scope._id._str newsId=_id._str scope=target.type}}" class="item animated in {{#if photoNews}}item-thumbnail-left{{else}}{{#if imageDoc authorNews._id._str}}item-avatar{{/if}}{{/if}}">

      {{#each photoNews}}
      <img src="{{this.url store='photosThumb' uploading='/default.png' storing='/default.png'}}"  />
      {{else}}
      {{#if imageDoc}}
      {{> imgDoc imageDoc=imageDoc resized="80x80"}}
      {{else}}
      {{#if imageDoc authorNews._id._str}}
      {{> imgDoc imageDoc=(imageDoc authorNews._id._str) resized="80X80"}}
      {{/if}}
      {{/if}}
      {{/each}}

      <h2>{{#if name}}{{cutString name 50}}{{/if}}</h2>
      {{#if text}}<p>{{cutString text 140}}</p>{{/if}}
      {{#each tags}}
      <span class=""><i class="icon ion-pound"></i> {{this}}</span>
      {{/each}}
      <p>{{_ "author"}} : {{authorNews.name}}</p>
      <p><i class="icon ion-clock"></i> {{livestamp created}}</p>
    </a>
    {{/each}}
    {{/transition}}
    {{else}}

    {{/if}}
  </div>
  {{#if Template.subscriptionsReady}}
  {{#if isLimit countNews}}
  <div class="padding">
    <button id="showMoreResults" class="button button-block button-dark give-me-more">
      {{_ "more"}}...
    </button>
  </div>
  {{/if}}
  {{/if}}
  {{/ionContent}}
  {{/ionView}}
</template>

<template name="newsAdd">
  {{#contentFor "headerButtonLeft"}}
  {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
  <h1 class="title">{{_ "post a news"}}</h1>
  {{/contentFor}}

  {{#ionView}}
  {{#ionContent}}
  <div class="list">
    <div class="item item-divider">
      {{_ "post a news"}}
    </div>
    {{#if error}}
      <div class="item item-text-wrap animated shake homestead text-center">
        {{_ error}}
      </div>
    {{/if}}
    {{#autoForm id="addNew" schema=SchemasNewsRest type="method" meteormethod="insertNew" template="ionic" class="padding"}}
    {{> newsFields}}
    <div class="item">
      <div class="button-bar">
        <button type="submit" class="button button-dark">{{_ "publish"}}</button>
      </div>
    </div>
    {{/autoForm}}
  </div>
  {{/ionContent}}
  {{/ionView}}
</template>



<template name="newsEdit">
  {{#contentFor "headerButtonLeft"}}
  {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
  <h1 class="title">{{_ "news"}}</h1>
  {{/contentFor}}

  {{#ionView}}
  {{#ionContent}}
  <div class="list">
    <div class="item item-divider">
      {{_ "edit a news"}}
    </div>
    {{#if error}}
      <div class="item item-text-wrap animated shake homestead text-center">
        {{_ error}}
      </div>
    {{/if}}
    {{#autoForm id="editNew" schema=SchemasNewsRest type="method-update" meteormethod="updateNew" doc=new template="ionic" class="padding form-rb-plain"}}
    {{> newsFields}}
    <div class="item">
      <div class="button-bar">
        <button type="submit" class="button button-dark">{{_ "edit"}}</button>
      </div>
    </div>
    {{/autoForm}}
  </div>
  {{/ionContent}}
  {{/ionView}}
</template>

<template name="newsFields">
  {{> afQuickField name='text' rows=8}}
</template>

<template name="listCard">
  <div class="list card">
    <div class="item item-avatar item-button-right">
      {{#if profilThumbImageUrl}}
        <img src="{{urlImageCommunecter}}{{profilThumbImageUrl}}">
      {{else}}
      {{> imgDoc imageDoc=imageDoc resized="50x50"}}
      {{/if}}
      <h2 class="homestead">{{name}}</h2>
      <p>{{_ "creator"}} : {{creatorProfile.name}}</p>
      {{#if isAdmin}}
      <a href="{{pathFor 'eventsEdit' _id=_id._str}}" class="button button-positive">{{> ionIcon icon="edit"}}</a>
      {{/if}}
    </div>

    <div class="item item-image">
      {{#if profilImageUrl}}
      {{#if isAdmin}}
      <a href="" class="photo-link-event"><img src="{{urlImageCommunecter}}{{profilImageUrl}}" class="photo-link-event"></a>
      {{else}}
      <img src="{{urlImageCommunecter}}{{profilImageUrl}}">
      {{/if}}
      {{else}}
      {{#if isAdmin}}
      <a href="" class="photo-link-event">{{> imgDoc imageDoc=imageDoc resized="340x340"}}</a>
      {{else}}
      {{> imgDoc imageDoc=imageDoc resized="340x340"}}
      {{/if}}
      {{/if}}

      <!-- {{#if Template.subscriptionsReady}}
      {{#transition in="slideInDown" out="slideOutUp"}}
      <p class="right-top animated in">
        {{#if startDate}}<i class="icon ion-android-alarm-clock"></i> {{_ "start"}} : {{livestamp startDate}} <br>{{/if}}
        {{#if endDate}}<i class="icon ion-android-alarm-clock"></i> {{_ "end"}} : {{livestamp endDate}} <br>{{/if}}
        {{#if endDate}}<i class="icon ion-android-time"></i> {{_ "duration"}} : {{diffInText startDate endDate}}<br>{{/if}}
      </p>
      {{/transition}}
      {{/if}} -->

    </div>

    <div class="item item-text-wrap">
      <p>{{description}}</p>
      <p>{{address.postalCode}} {{address.addressLocality}}</p>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-left">
      {{#if geo}}<a class="tab-item" href="{{pathFor 'mapWithEvent' _id=_id._str}}"><i class="icon ion-ios-location"></i> {{_ "distance"}} : {{distance geo}} </a>{{/if}}
    </div>
  </div>
</template>

<template name="boutonCard">
  <div class="padding">
    <div class="button-bar bar-positive">
      {{#if isAttendees}}
      <button class="button button-small photo-link-new">{{> ionIcon icon="camera"}}</button>
      <a href="{{pathFor 'newsAdd' _id=_id._str scope=($.Session.get 'scope')}}" class="button button-small">{{> ionIcon icon="compose"}}</a>
      <a href="{{pathFor 'listAttendees' _id=_id._str}}" class="button button-small">{{> ionIcon icon="ios-people"}}</a>
      <button class="button button-small" data-ion-modal="_inviteattendeesEvent">{{> ionIcon icon="person-add"}}</button>
      {{else}}
      <button class="button button-small saveattendees-link">{{> ionIcon icon="person-add"}} Participer</button>
      {{#if isCordova}}
      <button class="button button-small scanner-event">{{> ionIcon icon="ios-barcode"}} Scanner QR</button>
      {{/if}}
      {{/if}}
    </div>
  </div>
</template>

<template name="listCardevents">
  {{> listCard}}
  {{> boutonCard}}
</template>

<template name="listNews">
  <div class="list padding">
    <div class="item item-divider homestead">
      {{_ "news"}} {{scope.name}} <span class="badge badge-dark">{{scope.countNews}}</span>
    </div>
    {{#transition in="zoomIn" out="bounceOut"}}
    {{#each scope.news}}
    <a href="{{pathFor 'newsDetail' _id=scope._id._str newsId=_id._str scope=target.type}}" class="item animated out {{#if photoNews}}item-thumbnail-left{{/if}}">

      {{#each photoNews}}
      <img src="{{this.url store='photosThumb' uploading='/default.png' storing='/default.png'}}"  />
      {{/each}}

      <h2>{{name}}</h2>
      <p>{{text}}</p>
      {{#each tags}}
      <span class=""><i class="icon ion-pound"></i> {{this}}</span>
      {{/each}}
      <p>{{_ "author"}} : {{authorNews.name}}</p>
      <p><i class="icon ion-clock"></i> {{livestamp created}}</p>
    </a>
    {{/each}}
    {{/transition}}
  </div>
  {{#if isLimit scope.countNews}}
  <div class="padding">
    <button class="button  button-block button-dark give-me-more">
      {{_ "more"}}...
    </button>
  </div>
  {{/if}}
</template>


<template name="_inviteattendeesEvent">
  {{#ionModal customTemplate=true}}
  <div class="bar bar-header bar-dark">
    <button data-dismiss="modal" type="button" class="button button-clear">{{_ "Reset"}}</button>
    <h2 class="title">{{_ "Invite"}}</h2>
  </div>
<div class="content has-header overflow-scroll">
  <div class="list">
    <div class="item item-divider">
      {{_ "Send invite"}}
    </div>
    {{#if error}}
      <div class="item item-text-wrap animated shake homestead text-center">
        {{_ error}}
      </div>
    {{/if}}
    {{#autoForm id="inviteAttendeesEvent" schema=SchemasInviteAttendeesEventRest type="method" meteormethod="inviteattendeesEvent" template="ionic" class="padding"}}
    {{> afQuickField name='invitedUserName'}}
    {{> afQuickField name='invitedUserEmail'}}
    <div class="item">
      <div class="button-bar">
        <button type="submit" class="button button-dark">{{_ "send"}}</button>
      </div>
    </div>
    {{/autoForm}}
  </div>
</div>
  {{/ionModal}}
</template>
